* { box-sizing: border-box;}
html{
     background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

header {
    background-color: cadetblue;
     text-align: center;
    color: white;
    margin-top: -20px;
}
body {
    margin: auto;
    font-size: 18px;
    font-family: sans-serif;
      background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
        max-width: 1200px;
    padding: 2em 2em 4em;
}
H1, h2 {

}
nav {
    text-decoration: none;
    padding: 0;
    list-style-type: none;
    background-color: lightyellow;
    margin-top: -15px;
    margin-bottom: -.5rem;

}
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    border: 0px solid #555;
    list-style-type: none;
}
nav ul li a {
    display: block;
    padding: 10px 12px;
    text-align:justify;
   text-decoration: none;
}
img {
width: 150px;
     float: right;
     margin: .5em;
     padding-top: 1px;
     object-position:top;
}
main {
    padding: 0 2%;
    min-height: 8rem;
    background-color: lightyellow;
}

.leftcol {
				width: 48%;
				flex: 1 0 15em;
        margin: .5em;}
    .rightcol {
				width: 48%;
				flex: 1 0 15em;
        margin: .5em;}
    #sec1 {
				display: flex;
				flex-flow: row wrap;
				flex: 1;
}
#edu {
text-align: center;
}
footer {
    background-color: #ddd;
    padding: .6rem 2%;
    text-align: center;
}
/* table content */

table {
    width: 80%;
    margin: auto;
    text-align: center;
    border-collapse: collapse;
    border:7px solid orange;
    box-shadow: 10px 10px 10px orange;
    font-family: ubuntu, sans-serif;
    padding: 4px;
}
tr:nth-child(odd) {
    background-color: lightgreen;
}
tr:nth-child(even) {
    background-color: #e7f0ed;
}
thead th {
    color: black;
    background-color:#7fb9c2;

}
tbody th {
    font-size: 20px;
    background-color: lightcoral;
    color: white;
    border: 2px solid #ddd;
    padding: 3px;

}
td {
    font-size: 16px;
    padding: 6px;
    border: 2px solid #ddd;
}




/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
